__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
.ray_tmp
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
/logs/
/gr00t-libero/
/logs/
/models/
/openpi-meta/
/openvlaoft-venv/
outputs/*
*.so
/.venv/
**/.venv/
/venv/
**/venv/
/.docs-venv/
uv.lock
rlinf/envs/maniskill/assets
.history/*
SpecVLA/*
.github/*
